/* Cascading Style Sheet for the Schedule System */

* {
  /* border: 1px solid black; */
}

body {
  margin: 0;
}

h1, h2 {
  font-family: 'Encode Sans', sans-serif;
  color: rgb(255,0,0);
}

#nav-bar {
  height: 75px;
  width: 100%;
  position: fixed;
  background-color: rgba(255, 0, 0, 0.5);
  margin: 0;
  padding: 0;
}

#nav-bar ul {
  height: 100%;
  padding: 8px 0;
}

#nav-bar li {
  /*border: 1px solid #000000;*/
  color: #FFF;
  background-color: rgba(255, 0, 0, 0.25);
  display: inline;
  font-family: 'Encode Sans', Arial, Helvetica, sans-serif;
  font-size: 16pt;
  padding: 23px 10px;
  margin: 0px 10px;
  z-index: 200;
}

#nav-bar form {
  position: absolute;
  height: 100%;
  margin-right: 50px;
  padding: 14px 0;
  right: 0px;
  bottom: 0px;
  top: 0px;
}

#nav-bar input[type=text], input[type=password] {
  margin-right: 10px;
  width: 200px;
  padding: 12px;
  border-radius: 5px;
}

.main-content {
  width: 100%;
  height: 250px;
  position: relative;
  top: 100px;
}

.info-content {
  width: 25%;
  height: 200px;
  position: relative;
  padding: 5px;
  margin: 10px;
  background: #bbebde;
}

.form-content {
  font-family: 'Encode Sans', sans-serif;
  font-style: oblique;
  width: 40%;
  height: 200px;
  margin: 10px;
  position: relative;
  bottom: 220px;
  left: 500px;

}

table, td {
  border-collapse: collapse;
  border: solid;
  background: rgb(236, 237, 217);
}

table {
  width: 100%;
  height: 100%;
  border: 1px solid black;
}

td {
  padding: 10px;
}

.database-content {
  color: #7000ff;
  font-family: 'Encode Sans', sans-serif;
  font-weight: 700;
  position: relative;
  float: none;
  padding: 20px;
  margin: 10px;
  background-color: rgba(255, 230, 0, 0.46);
  border: 2px solid #00ff0a;
  border-radius: 5px;
  display: inline-block;
}
